.container-fluid {
    width: 100%;
    height: 600px;;
    
    border: 1px solid #555;
  }
  .mat-drawer{
    background-color: navy;
    width: 200px;
    margin-left: -10px;
  }
  a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
  }
  h2{
    text-align: center;
    color: aliceblue;
  }