
<mat-drawer-container class="container-fluid">
    <mat-drawer mode="side" opened><h2>Click4Jobs</h2><br>
      <a href="" routerLink="/dashboard" routerLinkActive="active">Dashboard</a><br>
      <a href="" routerLink="/job" routerLinkActive="active">Jobs</a><br>
      <a href="" routerLink="/application" routerLinkActive="active">Application</a><br>
      <a href="" routerLink="/profile" routerLinkActive="active">Profile</a>
    </mat-drawer>
    <mat-drawer-content>Main content
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container> 